<!-- NAVIGATION -->
<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- YOU LOGO HERE -->
            <a class="navbar-brand" href="/">
                <img style="width: 95px;" src="/img/logos/yhat-logo-transparent.png" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="custom-collapse">

            <ul class="nav navbar-nav navbar-right yo">

                <li class="dropdown">
                  <a href="/products" class="dropdown-toggle" data-toggle="dropdown">Products&nbsp;<sup><span class="label label-primary">New</span></sup></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/products/sciencecluster">Science<span style="color: #66cc99;">Cluster</span></a></li>
                    <li><a href="/products/scienceops">Science<span class="yo">Ops</span></a></li>
                    <li><a href="/products/rodeo">Rodeo<sup><span class="label label-primary">New</span></sup></a></li>
                  </ul>
                </li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/about">Company</a></li>
                <li><a href="http://blog.yhathq.com/">Blog</a></li>
                <li><a href="/docs">Docs</a></li>

            </ul>
        </div>

    </div>

</nav>
<!-- /NAVIGATION -->
